# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folder
venv/
.env

# IDE settings (misalnya untuk VSCode)
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log
